// Color Schemes

$purple: rgb(193, 176, 191);
$dark-purple: #9c8b97;
$orange: rgb(228, 158, 142);
$light-white: rgb(255, 247, 253);
$light-gray: rgba(0, 0, 0, 0.5);


// Proxima-Nova font

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
        url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
        url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
        url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adelle_rgregular';
    src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
        url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
        url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}

h1 {
    font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}

// GENERAL CLASSES

.cta-btn {
    color: black;
    border: 1.5px solid $purple;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

// ***** START OF LANDING *****

.navbar-brand {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 2.5rem;
}

.fancy-toggler.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.fancy-toggler.navbar-toggler {
    border-color: rgba(255, 255, 255, 0);
}

// .navbar-nav {
//     height: 100vh;
//     width: 100%;
//     background-color: $dark-purple;
//     position: absolute;
//     top: 0;
//     left: 0;
// }

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
    font-weight: bolder;
}

.landing__photo {
    width: 100%;
    height: 100%;
}

.landing__bio {
    margin-top: 5%;
}

.landing__learn-more-btn {
    font-size: 0.9rem;
}

// ***** END OF LANDING *****


// ***** START OF BIO *****

.carousel-inner {
    background-color: $dark-purple;
    padding: 3em 0;
}

.testimonial__text {
    color: white;
    font-style: italic;
}

.testimonial__img {
    width: 30%;
    border-radius: 50%;
    margin: auto;
}

// ***** END OF BIO *****

// ***** START OF MEDIA QUERIES *****

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .navbar-dark .navbar-nav .nav-link {
        color: rgb(0, 0, 0);
        font-weight: normal;
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: $dark-purple;
        font-weight: bolder;
    }
}

// ***** END OF MEDIA QUERIES *****