// Color Schemes

$purple: rgb(193, 176, 191);
$dark-purple: #9c8b97;
$orange: rgb(228, 158, 142);
$light-white: rgb(255, 247, 253);
$light-gray: rgba(0, 0, 0, 0.7);
$dark-gray: #868b92;
$dark-green: #27384f;
$dark-blue: #001229;
$intagram-red: #cc2653;
$figma-purple: #a259ff;
$html-orange: #eb6228;
$cog-blue: #0892d0;
$teaching-orange: #fb7233;
$project-green: #6c8102;

// Proxima-Nova font

@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff") format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf") format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova_rgbold";
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff") format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf") format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_rgregular";
  src: url("https://litmus.com/fonts/Emails/adelle_reg-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix") format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/adelle_reg-webfont.woff") format("woff"),
    url("https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf") format("truetype"),
    url("https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

h1 {
  font-family: "proxima_nova_rgbold", Helvetica, Arial, sans-serif;
}

// GENERAL CLASSES

.navbar.navbar-light.navbar-expand-md.bg-faded.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1024;
}

.cta-btn {
  color: black;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  border: none;
  background-color: $dark-purple;
  font-weight: bolder;
  color: white;
}

.cta-btn:hover {
  color: white;
  background-color: darken($dark-purple, 20%);
  transition: 0.3s ease-in;
  text-decoration: none;
}

// Projects classes

.projects__cover-img-container {
  position: relative;
  width: 100%;
}

.cover-photo-cta {
  color: white;
  font-weight: bolder;
  font-size: 0.75rem;
  background-color: $dark-blue;
  border: 2px solid $dark-blue;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 40%;
}

.cover-photo-cta:hover {
  text-decoration: none;
  background-color: $dark-green;
  border: 2px solid $dark-blue;
  color: white;
  transition: 0.3s ease-in;
}

.project-hmw {
  font-size: 1.4rem;
}

.project-subtitle {
  font-size: 1.7rem;
  font-family: "Covered By Your Grace", cursive;
  display: inline;
  border-bottom: 5px solid $orange;
}

.project-inline-link {
  color: $orange;
  font-weight: bolder;
  text-decoration: underline;
}

.project-inline-link:hover {
  color: $orange;
}

.figure-caption {
  font-size: 0.85rem;
}

.border-dark {
  border: 1.5px solid $dark-purple !important;
}

.card-header,
.card-img-top {
  border-bottom: 1px solid lighten($dark-purple, 10%);
  box-sizing: border-box;
}

.card-title {
  font-size: 1.35rem;
}

.projects__title {
  font-family: "Covered By Your Grace", cursive;
  font-size: 1.6rem;
}

.card-subtitle {
  font-size: 1.1rem;
}

.view-project-btn {
  border: none;
  background-color: $dark-purple;
  font-weight: bolder;
  color: white;
}

.projects-title {
  font-size: 2.15rem;
}

.projects-subtitle {
  color: $light-gray;
  font-size: 1.35rem;
}

.projects__logo,
.projects__icb-logo {
  margin: 0 auto;
  border-bottom: 1.5px solid $dark-purple;
}

.projects__icb-logo {
  width: 4.25em;
}

.projects__logo {
  width: 5em;
}

// Project Icons
.fa-crop-alt,
.fa-laptop-code,
.fa-cogs,
.fa-chalkboard-teacher,
.fa-project-diagram {
  font-size: 2rem;
}

// ***** START OF HEADER *****

// Landing

.landing__logo {
  font-family: "Covered By Your Grace", cursive;
  font-size: 2.5rem;
  color: $orange;
}

// Nonlanding

.scrolled {
  background-color: #fff !important;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.fancy-nonlanding-toggler.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='3.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.fancy-nonlanding-toggler.navbar-toggler {
  border-color: rgba(255, 255, 255, 0);
}

.navbar-brand,
.nonlanding-logo {
  font-family: "Covered By Your Grace", cursive;
  font-size: 2.5rem;
}

.fancy-toggler.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.fancy-toggler.navbar-toggler {
  border-color: rgba(255, 255, 255, 0);
}

.nonlanding-logo {
  color: $orange;
}

// ***** END OF HEADER *****

// ***** START OF LANDING *****

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bolder;
}

.landing__photo {
  width: 100%;
  height: 100%;
}

.landing__bio {
  margin-top: 5%;
}

.landing__learn-more-btn {
  font-size: 0.9rem;
  font-weight: bolder;
}

.landing__learn-more-btn:hover {
  text-decoration: none;
  color: white;
  background-color: $dark-purple;
}

// ***** END OF LANDING *****

// ***** START OF BIO *****

// Article
.article__title,
.article__first-letter {
  font-size: 1.9rem;
}

.article__subtitle {
  font-size: 1.1rem;
  color: gray;
}

.article__section {
  font-size: 1.4rem;
  font-family: "proxima_nova_rgbold", Helvetica, Arial, sans-serif;
}

.article__section_two {
  font-size: 1.25rem;
  color: gray;
  font-style: italic;
}

.article__content {
  font-size: 1.05rem;
}

// ***** END OF BIO *****

// ***** START OF PROJECTS *****

.projects__hmw-question {
  font-size: 1.1rem;
}

.carousel__title {
  font-size: 2.25rem;
  color: white;
  font-family: "Covered By Your Grace", cursive;
}

.carousel-inner {
  background-color: $dark-purple;
  padding: 3em 0;
}

.testimonial__px {
  padding: 10% 15%;
}

.testimonial__text {
  font-size: 1.15rem;
}

.testimonial__text,
.testimonial__title {
  color: white;
}

.testimonial__text {
  font-style: italic;
}

.testimonial__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 1em;
}

.carousel-indicators li {
  background-color: $light-gray;
}

.carousel-indicators .active {
  background-color: black;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

// ***** END OF PROJECTS *****

// ***** START OF SHARED DISTANCE PAGE *****

.sd__cover-photo-container {
  background-color: $dark-green;
}

.sd-logo {
  width: 2em;
}

.fa-instagram {
  color: #cc2653;
  font-size: 1.15em;
}

.fa-crop-alt {
  color: lighten($figma-purple, 10%);
}

.fa-laptop-code {
  color: lighten($html-orange, 15%);
}

// ***** END OF SHARED DISTANCE PAGE *****

// ***** START OF ICB PAGE *****

.icb__cta-btn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $dark-blue;
  border-radius: 0.5em;
  background-color: $dark-blue;
  color: white;
  padding: 0.25em 0.75em;
  font-weight: bolder;
  font-size: 0.85rem;
}

.icb__cta-btn:hover {
  text-decoration: none;
  background-color: lighten($dark-blue, 90%);
  border: 1px solid $dark-blue;
  color: black;
  transition: 0.3s ease-in;
}

.fa-cogs {
  color: lighten($cog-blue, 30%);
}

.fa-chalkboard-teacher {
  color: lighten($teaching-orange, 15%);
}

// ***** END OF ICB PAGE *****

// ***** START OF MAKE SCHOOL PAGE *****

.fa-project-diagram {
  color: lighten($project-green, 15%);
}

// ***** END OF MAKE SCHOOL PAGE *****

// ***** START OF TEACHING PAGE *****

.teaching__scratch {
  width: 20px;
  height: 20px;
}

// ***** END OF TEACHING PAGE *****

// ***** START OF SAY HI PAGE *****

.contact__title {
  font-size: 1.8rem;
}

.contact__subtitle {
  font-size: 1.2rem;
}

input[type="text"],
textarea {
  width: 100%;
  border: 1.35px solid $dark-purple;
  border-radius: 0.15em;
  padding: 0.4em;
  resize: vertical;
  box-sizing: border-box;
  margin-bottom: 0.75em;
}

.contact__submit-btn {
  background-color: $dark-purple;
  color: white;
  font-weight: bolder;
  margin: 0 auto;
}

// ***** END OF SAY HI PAGE *****

// ***** START OF FOOTER *****

.footer__title {
  font-size: 1.25rem;
  font-weight: bolder;
}

.footer__about-text {
  font-size: 1rem;
}

.footer__ul {
  list-style: none;
}

.footer__about-text,
.footer__link {
  color: $dark-gray;
}

.footer__link {
  line-height: 2em;
}

.footer__link:hover {
  color: $orange;
  text-decoration: none;
}

.footer__teaching-link {
  text-decoration: underline;
  color: $orange;
}

.footer__teaching-link:hover {
  text-decoration: underline;
  color: $orange;
}

.footer__social-img {
  font-size: 1.15rem;
  border: 2px solid $purple;
  border-radius: 50%;
  padding: 0.25em 0.45em;
  margin: 0 0.25em;
  color: black;
}

.footer__social-img:hover {
  background-color: $purple;
  color: black;
}

// ***** END OF FOOTER *****

// ***** START OF MEDIA QUERIES *****

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
  // General

  .figure-caption {
    font-size: 0.9rem;
  }

  // Header

  .navbar-nav .nav-link.header__say-hi-btn {
    background-color: $dark-purple;
    border-radius: 0.5em;
    color: white;
    padding: 0.35em 0.5em;
  }

  .navbar-nav .nav-link.header__say-hi-btn:hover {
    color: white;
    background-color: darken($dark-purple, 20%);
    transition: 0.3s ease-in;
  }

  // Landing

  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 12;
  }

  .landing__logo {
    color: white;
  }

  .landing__navbar-ul {
    width: 50%;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-weight: normal;
  }

  .navbar-nav .nav-link.landing__nav-link {
    color: white;
    font-size: 1.05rem;
  }

  // Testimonial

  .carousel__title {
    font-size: 2.7rem;
  }

  .testimonial__px {
    padding: 5% 15%;
  }

  // General sub projects

  .project-hmw {
    font-size: 1.75rem;
  }

  .project-subtitle {
    font-size: 1.9rem;
  }

  .project-description {
    font-size: 1.15rem;
  }

  // ICB

  .icb__cta-btn {
    font-size: 1.4rem;
  }

  // Shared Distance

  .cover-photo-cta {
    font-size: 0.9rem;
  }

  .fa-instagram {
    font-size: 1.25em;
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  // General

  .figure-caption {
    font-size: 0.95rem;
  }

  .navbar-nav .nav-link.header__say-hi-btn {
    color: white;
  }

  // Landing

  .landing__logo {
    font-size: 3.75rem;
  }

  .nav-link {
    font-size: 1.05rem;
  }

  .navbar-nav .nav-link.landing__nav-link {
    color: rgba(0, 0, 0, .5);
  }

  .navbar-brand {
    font-size: 3.5rem;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 1.15rem;
  }

  .landing__bio {
    font-size: 1.15rem;
    margin-bottom: 1em;
  }

  .landing__cta {
    font-size: 1.05rem;
  }

  // Projects

  .testimonial__px {
    padding: 3% 15%;
  }

  // General sub projects

  .project-hmw {
    font-size: 2.25rem;
  }

  .project-subtitle {
    font-size: 2rem;
  }

  .project-description {
    font-size: 1.15rem;
  }

  // ICB

  .icb__cta-btn {
    font-size: 1.8rem;
  }

  // Shared Distance

  .cover-photo-cta {
    font-size: 1.1rem;
  }
}

// Extra large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
  .landing__logo {
    font-size: 4rem;
  }

  .nav-link {
    font-size: 1.1rem;
  }

  .landing__bio {
    font-size: 1.3rem;
  }
}

// ***** END OF MEDIA QUERIES *****